<div class="text-layout">
  <h1>No tan comunes</h1>
  <p>Pipe incluidos en angular - usualmente en el Common module</p>
</div>

<div class="p-grid">
  <div class="p-col p-md-6">
    <p-fieldset legend="I18nSelect Pipe" [toggleable]="true">
      Saludos {{ nombre }}, es un placer
      {{ genero | i18nSelect: invitacionMapa }}
      a nustro evento
    </p-fieldset>
  </div>
  <div class="p-col p-md-6">
    <p-fieldset legend="I18nPlurar Pipe" [toggleable]="true">
      gfhrty
    </p-fieldset>
  </div>
</div>
